$image-size:75px
$colorSecond: rgb(39, 115, 171)
$colorMain: #ff5714
.chartsContainer
  display: grid
  grid-template-areas: "title title" "chartBig selector" "chartBig pie"
  grid-template-columns: 2fr 1fr
  h1
    grid-area: title
    text-align: center
    margin: 50px
    color: white
  .chartsContainer
    grid-area: chartBig
  .form-select
    margin:  10px 10px 10px auto
    grid-area: selector
    background-color: $colorSecond
    border-color: $colorMain
    color: #ffffff
    width: 60%
    height: 50px
    padding: 10px
    font-size: 16pt
    display: flex
    justify-content: center
    align-items: center
    transform: translateX(-100px)
    box-shadow: 0 0 5px 1px $colorMain
    border-radius: 10px
    position: relative
    z-index: 0
