html{
    min-height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgba(0, 57, 166, 0.75) 0%, rgba(0,98,95,0.75) 50%, rgba(0,48,143,0.75) 100%);
}
